.education-section h2 {
	display: flex;
	justify-content: center;
	color: white;
}

.details-container {
	text-align: center;
}
.project-detail-card {
	display: flex;
	flex: 1;
	flex-direction: column;
	width: 30rem;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	border-radius: 10px;
	flex: 1;
	padding: 10px;
	box-shadow: -4px 10px 14px -2px black;
	margin: 10px;
	background-color: white;
}

.project-name {
	border-radius: inherit;
	margin-top: -10px;
	font-weight: bold;
	font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
	padding: 10px;
	width: 100%;
	color: #fff;
	background-image: linear-gradient(to bottom left, #6441a5 5%, #2a0845);
}
.project-section {
	/* background-image: linear-gradient(to bottom left, #6441a5 5%, #2a0845); */
	background-image: linear-gradient(#ada996, #f2f2f2, #dbdbdb, #eaeaea);

	margin: -10px 0px;
	padding: 20px;
}

